NODE_ENV=development
PORT=5001
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=watify
DB_PASSWORD=watify_dev_password
DB_NAME=watify_local
JWT_SECRET=change_me_for_production
JWT_EXPIRE=7d
CLIENT_URL=http://localhost:3000
